<!-- <!DOCTYPE html>
<html>
<head>
    <title>Laundry App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h2>Laundry Management</h2>
        <nav> 
            <a href="/tambah">Tambah Transaksi</a>
        </nav>
    </header>
    <main> -->
        <%- body %>  <!-- Ini placeholder konten dari file lain -->
    <!-- </main>
</body>
</html> -->
